
    <table class="table">
        <tbody>
            <tr>
                <th>Диагональ</th>
                <th>{{ product.diagonal }}</th>
            </tr>
            <tr>
                <th>Тип дисплея</th>
                <th>{{ product.display_type }}</th>
            </tr>
            <tr>
                <th>Частота процессора</th>
                <th>{{ product.processor_freq }}</th>
            </tr>
            <tr>
                <th>Оперативная память</th>
                <th>{{ product.ram }}</th>
            </tr>
            <tr>
                <th>Видеокарта</th>
                <th>{{ product.video }}</th>
            </tr>
            <tr>
                <th>Время работы аккумулятора</th>
                <th>{{ product.time_without_charge }}</th>
            </tr>
        </tbody>
    </table>
