
    <table class="table">
        <tbody>
            <tr>
                <th>Диагональ</th>
                <th>{{ product.diagonal }}</th>
            </tr>
            <tr>
                <th>Тип дисплея</th>
                <th>{{ product.display_type }}</th>
            </tr>
            <tr>
                <th>Разрешение экрана</th>
                <th>{{ product.resolution }}</th>
            </tr>
            <tr>
                <th>Объем батареи</th>
                <th>{{ product.accum_volume }}</th>
            </tr>
            <tr>
                <th>Оперативная память</th>
                <th>{{ product.ram }}</th>
            </tr>
            <tr>
                <th>Наличие слота SD карты</th>
                <th>{{ product.sd }}</th>
            </tr>
            <tr>
                <th>Максимальный объем встраиваемой памяти</th>
                <th>{{ product.sd_volume_max }}</th>
            </tr>
            <tr>
                <th>Главная камера</th>
                <th>{{ product.main_cam_mp }}</th>
            </tr>
            <tr>
                <th>Фронтальная камера камера</th>
                <th>{{ product.frontal_cam_mp }}</th>
            </tr>
        </tbody>
    </table>
